/* General css */
.default-bg {
  background: none!important;
  background-color: var(--md-default-bg-color)!important; 
}


.content-container-centered {
  padding: 5.2rem 0;
  margin: 0 0.8rem;
}

.centered-content-grid {
  margin-top: 2.4rem

}

/* Card related css */

.centered-content-grid ul.centered-content-grid__list {
  display: flex;
  flex-flow: row wrap;
  gap: 1.6rem;
  padding: 0;
  margin: 0;
}

.centered-content-grid ul.centered-content-grid__list > li.centered-content-grid__item {
  display: flex;
  flex: 1 0 48%;
  gap: 0.6rem;
  margin: 0;
}
.centered-content-grid ul.centered-content-grid__list > li.centered-content-grid__item  div.item_content .card_title {
  font-weight: 700;
  margin-top: 0.175em;
}

.centered-content-grid ul.centered-content-grid__list > li.centered-content-grid__item  div.content_icon {
  fill: currentcolor;
  background-color: var(--md-default-fg-color--lightest);
  border-radius: 100%;
  flex-shrink: 0;
  height: 2.2rem;
  padding: 0.55rem 0.4rem 0.4rem 0.4rem;
  width: 2.2rem;
}

/* Column related css */
.content-container-centered div.centered-content-column-wrapper {
  margin-bottom: 0;
  padding: 5.2rem 0;
}

.content-container-centered div.centered-content-column-wrapper .content-container-column {
  font-weight: 400;
}

@media screen and (min-width: 60em) {
  .content-container-centered div.centered-content-column-wrapper {
    display:flex;
    flex-wrap: nowrap;
    gap: 6.4rem;
  }
  .content-container-centered div.centered-content-column-wrapper .content-container-column {
    margin-top: 0;
  }

  .content-container-centered div.centered-content-column-wrapper .content-container-column:first-child {
    flex: 2 0;
  }

  .content-container-centered div.centered-content-column-wrapper .content-container-column:last-child {
    flex: 1 0;
  }
}


/* Custom rulesets based on material theme */
.md-button.md-button--custom {
  background-color: var(--md-default-fg-color--lighter);
  border-color: var(--md-default-fg-color--lighter);
  color: var(--md-primary-bg-color);
}